@import 'milligram/src/milligram';

.row.row-center {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.button.button-normalcase {
	text-transform: none;
}

.navigation {
	width: 100%;
	display: block;
	height: 5.2rem;
	line-height: 5.2rem;
	.navigation-list {
		list-style: none;
		margin-bottom: 0;
		margin-right: 5rem;
	}
	.navigation-item {
		float: left;
		margin-bottom: 0;
		margin-left: 2.5rem;
		position: relative;
	}
}

blockquote {
	border: none;
	font-size: 18px;
	font-style: italic;
	width: 500px;
	margin: 0.25em 0;
	padding: 0.35em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	cite {
		color: #999999;
		font-size: 14px;
		display: block;
		margin-top: 5px;
	}
	cite:before {
		content: "\2014 \2009";
	}
}

blockquote:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -20px;
	top: -20px;
	color: #7a7a7a;
}

.reading-list {
	.source {
		h2 {
			margin-bottom: 0.0rem;
		}
		footer {
			margin: 3rem 0;
			hr {
				margin: 0;
			}
		}
	}
}
