<section class="container">
	<div class="row">
		<div class="column column-center">
			{{ range .Pages }}
			<article class="container">
				<h4><a href="{{ .URL }}">{{ .Name }}</a></h4>
				<p>
					A
					{{ .Section }}
					{{ with .Params.tags }}
					about {{ delimit . ", " ", and " }}
					{{ end }}
					written on
					{{ .Date.Format "Monday, Jan 2, 2006" }}
					.
				</p>
				{{ if eq .Section "note" }}
				<article class="container">
					{{ .Content }}
				</article>
				{{ end }}
			</article>
			<hr>
			{{ end }}
		</div>
	</div>
</section>
